@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"] - SkillBridge CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-html5-2.0.0/b-print-2.0.0/kt-2.6.4/r-2.2.9/sl-1.3.3/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div id="loader-bg"></div>
    <div id="loader" class="center"></div>
    <div id="generating-file">Generating File...</div>

    <div id="wrapper" class="animate open show">
        <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="SkillBridge System Prototype" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                @if (SignInManager.IsSignedIn(User))
                {
                <ul class="navbar-nav animate side-nav open">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a href="#admin-menu" data-toggle="collapse" class="nav-link pl-0"><i class="fa fa-hammer fa-fw"></i> <span class="d-md-inline">Admin</span><i class="fa fa-chevron-down fa-fw menu-arrow"></i></a>
                                <ul id="admin-menu" class="collapse collapsed">
                                    <li>
                                        <a class="nav-link red-text" asp-area="" asp-controller="Admin" asp-action="GenerateUpdateData">Generate Update Data</a>
                                    </li>
                                    <li>
                                        <a class="nav-link red-text" asp-area="" asp-controller="Admin" asp-action="GenerateAFData">Generate AF Data</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="CreateRole">Create a New Role</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ListRoles">All Roles</a>
                                    </li>
                                    <li>
                                        <a class="nav-link gold-text" asp-area="" asp-controller="Admin" asp-action="IngestMOUs">Ingest MOUs</a>
                                    </li>
                                    <li>
                                        <a class="nav-link gold-text" asp-area="" asp-controller="Admin" asp-action="IngestOrganizations">Ingest Organizations</a>
                                    </li>
                                    <li>
                                        <a class="nav-link gold-text" asp-area="" asp-controller="Admin" asp-action="IngestPrograms">Ingest Programs</a>
                                    </li>
                                    <li>
                                        <a class="nav-link gold-text" asp-area="" asp-controller="Admin" asp-action="IngestOpportunities">Ingest Opportunities</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Utilities">Utilities</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Analyst"))
                        {
                            <li class="nav-item">
                                <a href="#analyst-menu" data-toggle="collapse" class="nav-link pl-0"><i class="fa fa-glasses fa-fw"></i> <span class="d-md-inline">Analyst</span><i class="fa fa-chevron-down fa-fw menu-arrow"></i></a>
                                <ul id="analyst-menu" class="collapse collapsed">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="CreateUser">Create a New User</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListUsers">All Users</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="EditHomepageNotification">Edit Homepage Notification</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingOrganizationChanges">Pending Organization Changes</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingProgramChanges">Pending Program Changes</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingOpportunityChanges">Pending Opportunity Changes</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingProgramAdditions">Pending Program Additions</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingOpportunityAdditions">Pending Opportunity Additions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Intake" asp-controller="Admin" asp-action="Index">Intake Forms</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("OSD") || User.IsInRole("OSD Reviewer") || User.IsInRole("OSD Signatory"))
                        {
                            <li class="nav-item">
                                <a href="#osd-menu" data-toggle="collapse" class="nav-link pl-0"><i class="fa fa-gavel fa-fw"></i> <span class="d-md-inline">OSD</span><i class="fa fa-chevron-down fa-fw menu-arrow"></i></a>
                                <ul id="osd-menu" class="collapse collapsed">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingOrganizationChanges">Pending Organization Changes</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingProgramChanges">Pending Program Changes</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingOpportunityChanges">Pending Opportunity Changes</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingProgramAdditions">Pending Program Additions</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Analyst" asp-action="ListPendingOpportunityAdditions">Pending Opportunity Additions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Intake" asp-controller="Admin" asp-action="Index">Intake Forms</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Analyst"))
                        {
                            <li class="nav-item">
                                <a href="#mous-menu" data-toggle="collapse" class="nav-link pl-0"><i class="fa fa-file  fa-fw"></i>      <span class="d-md-inline">MOUs</span><i class="fa fa-chevron-down fa-fw menu-arrow"></i></a>
                                <ul id="mous-menu" class="collapse collapsed">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Mous" asp-action="ListMous">All MOUs</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Analyst") || User.IsInRole("Service"))
                        {
                            <li class="nav-item">
                                <a href="#organizations-menu" data-toggle="collapse" class="nav-link pl-0"><i class="fa fa-building fa-fw"></i> <span class="d-md-inline">Organizations</span><i class="fa fa-chevron-down fa-fw menu-arrow"></i></a>
                                <ul id="organizations-menu" class="collapse collapsed">
                                    @if (!User.IsInRole("Service"))
                                    {
                                        <li>
                                            <a class="nav-link" asp-area="" asp-controller="Organizations" asp-action="CreateOrganization">Create a New Organization</a>
                                        </li>
                                    }
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Organizations" asp-action="ListOrganizations">All Organizations</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#programs-menu" data-toggle="collapse" class="nav-link pl-0"><i class="fa fa-book fa-fw"></i> <span class="d-md-inline">Programs</span><i class="fa fa-chevron-down fa-fw menu-arrow"></i></a>
                                <ul id="programs-menu" class="collapse collapsed">
                                    @if (!User.IsInRole("Service"))
                                    {
                                        <li>
                                            <a class="nav-link" asp-area="" asp-controller="Programs" asp-action="CreateProgram">Create a New Program</a>
                                        </li>
                                    }
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Programs" asp-action="ListPrograms">All Programs</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#opportunities-menu" data-toggle="collapse" class="nav-link pl-0"><i class="fa fa-star  fa-fw"></i> <span class="d-md-inline">Opportunities</span><i class="fa fa-chevron-down fa-fw menu-arrow"></i></a>
                                <ul id="opportunities-menu" class="collapse collapsed">
                                    @if (!User.IsInRole("Service"))
                                    {
                                        <li>
                                            <a class="nav-link" asp-area="" asp-controller="Opportunities" asp-action="CreateOpportunity">Create a New Opportunity</a>
                                        </li>
                                    }
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Opportunities" asp-action="ListOpportunities">All Opportunities</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#trainingplans-menu" data-toggle="collapse" class="nav-link pl-0"><i class="fa fa-columns fa-fw"></i> <span class="d-md-inline">Training Plans</span><i class="fa fa-chevron-down fa-fw menu-arrow"></i></a>
                                <ul id="trainingplans-menu" class="collapse collapsed">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="TrainingPlans" asp-action="ListTrainingPlans">All Training Plans</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Organization"))
                        {
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-area="" asp-controller="MyOrganization" asp-action="EditOrganization"><i class="fa fa-building  fa-fw"></i> <span class="d-md-inline">My Organization</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-area="" asp-controller="MyPrograms" asp-action="CreateProgram"><i class="fa fa-book  fa-fw"></i> <span class="d-md-inline">Create Program</span></a>
                            </li>
                        }
                        @if (User.IsInRole("Organization") || User.IsInRole("Program"))
                        {
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-area="" asp-controller="MyPrograms" asp-action="MyPrograms"><i class="fa fa-book  fa-fw"></i> <span class="d-md-inline">My Programs</span></a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link pl-0" asp-area="" asp-controller="MyOpportunities" asp-action="CreateOpportunity"><i class="fa fa-star  fa-fw"></i> <span class="d-md-inline">Create Opportunity</span></a>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-area="" asp-controller="MyOpportunities" asp-action="MyOpportunities"><i class="fa fa-star  fa-fw"></i> <span class="d-md-inline">My Opportunities</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-area="" asp-controller="TrainingPlans" asp-action="ListTrainingPlans"><i class="fa fa-star  fa-fw"></i> <span class="d-md-inline">My Training Plans</span></a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Analyst"))
                        {
                            <li class="nav-item">
                                <a href="#reports-menu" data-toggle="collapse" class="nav-link pl-0"><i class="fa fa-chart-pie fa-fw"></i> <span class="d-md-inline">Reports</span><i class="fa fa-chevron-down fa-fw menu-arrow"></i></a>
                                <ul id="reports-menu" class="collapse collapsed">
                                    <li class="nav-item">
                                        <a class="nav-link pl-0" asp-area="" asp-controller="Reports" asp-action="ListExpiringMous"> <span class="d-md-inline">List Expiring MOUs</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-0" asp-area="" asp-controller="Reports" asp-action="ListRecentOSDOrganizationChanges"> <span class="d-md-inline">OSD Organization Changes</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-0" asp-area="" asp-controller="Reports" asp-action="ListRecentOSDProgramChanges"> <span class="d-md-inline">OSD Program Changes</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-0" asp-area="" asp-controller="Reports" asp-action="ListRecentOSDOpportunityChanges"> <span class="d-md-inline">OSD Opportunity Changes</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-0" asp-area="" asp-controller="Reports" asp-action="ListRecentOrganizationChanges"> <span class="d-md-inline">Organization Changes</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-0" asp-area="" asp-controller="Reports" asp-action="ListRecentProgramChanges"> <span class="d-md-inline">Program Changes</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-0" asp-area="" asp-controller="Reports" asp-action="ListRecentOpportunityChanges"> <span class="d-md-inline">Opportunity Changes</span></a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Analyst") || User.IsInRole("Service"))
                        {
                            <li class="nav-item">
                                <a class="nav-link pl-0" asp-area="" asp-controller="Utility" asp-action="GetTicketData"><i class="fa fa-ticket-alt fa-fw"></i> <span class="d-md-inline">Get Ticket Data</span></a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Analyst"))
                        {
                            <li class="nav-item">
                                    <a class="nav-link pl-0" asp-area="" asp-controller="Utility" asp-action="QuestionProPdfs"><i class="fa fa-file-pdf fa-fw"></i> <span class="d-md-inline">QuestionPro PDFs</span></a>
                            </li>
                        }
                    <li class="nav-item">
                        <a href="~/Home/Logo" class="nav-link pl-0"><i class="fa fa-image"></i> <span class="d-md-inline">SkillBridge Logo</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Identity/Account/Manage/Email" class="nav-link pl-0"><i class="fa fa-cog fa-fw"></i> <span class="d-md-inline">My Account</span></a>
                    </li>
                    <li>
	                    <a class="nav-link pl-0" asp-area="" asp-controller="Home" asp-action="UserGuide"><i class="fa fa-users fa-fw"></i> <span class="d-md-inline">User Guide</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0" asp-area="" asp-controller="Home" asp-action="Legal"><i class="fa fa-balance-scale-left fa-fw"></i> <span class="d-md-inline">Legal &amp; Administrative</span></a>
                    </li>
                </ul>
                }
                <ul class="navbar-nav ml-md-auto d-md-flex">
                    <partial name="_LoginPartial" />
                    <!--<ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
                </ul>-->
                </ul>
            </div>

        </nav>
        <div class="container-fluid">
            <main role="main" class="col" style="visibility:hidden;">
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Admin") || User.IsInRole("Analyst"))
                    {
                        <div class="row">
                            <div class="col">
                                <div class="float-right" id="toggle-container" data-toggle="tooltip" title="Toggle Dark Mode" style="width:37px;">
                                    <input id="light-dark-toggle" type="checkbox" data-toggle="toggle" data-size="xs" data-on="<i class='fa fa-moon'></i>" data-off="<i class='fa fa-lightbulb'></i>" data-onstyle="" data-offstyle="">
                                </div>
                            </div>
                        </div>
                    }
                }
                @RenderBody()
            </main>
            <footer>
                &copy; Copyright @DateTime.Now.Year
            </footer>
        </div>
    </div>

    <!-- Rules Modal -->
    <div class="modal fade" id="rules-modal" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rulesModalLabel">Please observe the following rules for posting updates or your updates will not be posted:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <p>The SkillBridge CMS is used to maintain SkillBridge related information for Organizations, programs and individual opportunities. All changes to information in the CMS will be reviewed by the SkillBridge team prior to inclusion on the SkillBridge website. When updating information, please do not include the following:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>Promotions for commercial products or services</li>
                                <li>Unsolicited proposals or other business ideas or inquiries</li>
                                <li>Spam</li>
                                <li>Profanity</li>
                                <li>Sexual content</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Overly graphic, disturbing, or offensive material</li>
                                <li>Vulgar or abusive language</li>
                                <li>Hate speech or offensive language targeting any specific demographic</li>
                                <li>Personal attacks</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">I Understand</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-html5-2.0.0/b-print-2.0.0/kt-2.6.4/r-2.2.9/sl-1.3.3/datatables.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=" defer></script>


    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script src="~/js/ga.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
