################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMS/IntakeForm.Models/bin
/.vs
/CMS/IntakeForm.Models/obj
/CMS/SkillBridge System Prototype/.vs
/CMS/SkillBridge System Prototype/bin
/CMS/SkillBridge System Prototype/obj/Debug/net6.0
/CMS/SkillBridge System Prototype/obj
/CMS/Taku.Core/bin/Debug/net6.0
/CMS/Taku.Core/obj
