################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMS/IntakeForm.Models/bin
/.vs
/CMS/IntakeForm.Models/obj
/CMS/SkillBridge System Prototype/.vs
/CMS/SkillBridge System Prototype/bin
/CMS/SkillBridge System Prototype/obj/Debug/net6.0
/CMS/SkillBridge System Prototype/obj
/CMS/Taku.Core/bin/Debug/net6.0
/CMS/Taku.Core/obj
/CMS/SkillBridgeConsoleApp/SkillBridgeConsoleApp/bin/Debug/net6.0
/CMS/SkillBridgeConsoleApp/SkillBridgeConsoleApp/obj/Debug/net6.0/ref
/CMS/SkillBridgeConsoleApp/SkillBridgeConsoleApp/obj/Debug/net6.0/refint
/CMS/.vs
/CMS/SkillBridge.Business/bin/Debug/net6.0
/CMS/SkillBridge.CMS/.vs
/CMS/SkillBridge.CMS/bin/Debug/net6.0
/CMS/SkillBridge.CMS/obj
/CMS/SkillBridge.Console/bin/Debug/net6.0
/CMS/SkillBridge.Console/obj
/CMS/SkillBridge.IntakeForm/bin/Debug/net6.0
/Taku.Core/bin/Debug/net6.0
/CMS/SkillBridge System Prototype/wwwroot/lib
/CMS/SkillBridge.Business/bin/Release/net6.0
/CMS/SkillBridge.CMS/bin/Release/net6.0
/Taku.Core/bin/Release/net6.0
