@model Skillbridge.Business.Model.Db.TrainingPlans.TrainingPlan
@{
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Update the Training Plan for this Opportunity";
    }
    else
    {
        ViewData["Title"] = $"Add a Training Plan to this Opportunity";
    }

    var pending = (Skillbridge.Business.Model.Db.PendingOpportunityModel)ViewBag.Pending;

}

<h1>@Html.Raw(ViewData["Title"])</h1>

@await Html.PartialAsync("~/Views/Opportunities/_PendingOpportunityHeader.cshtml", pending)

<div asp-validation-summary="All" class="text-danger"></div>

@using (Html.BeginForm("TrainingPlanForm", "Opportunities", FormMethod.Post, new { id = "tp-form", @enctype = "multipart/form-data" }))
{
    <input type="hidden" id="PendingId" name="PendingId" value="@(pending.Id)" />
    <input type="hidden" id="IsAddition" name="IsAddition" value="@(pending.IsAddition.ToString())" />

    @await Html.PartialAsync("~/Views/Shared/_TrainingPlanForm.cshtml", Model)

    @Html.AntiForgeryToken()

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/Opportunities/TrainingPlanChanges/@(pending.Id)?isAddition=@(pending.IsAddition)" class="btn btn-danger">Cancel</a>
    </div>

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}