@model CreateOrganizationModelView
@{
    ViewData["Title"] = "Create Organization";
}

<h1>Create Organization</h1>

<p>Required fields are marked with an<span class="req">&nbsp;*</span></p>



<div class="row">
    <div class="col">
        <form method="post" autocomplete="off" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="card-header" style="border: 1px solid rgba(0,0,0,.125);">
                            <label asp-for="Is_Active" style="font-size:20px;">Active Organization</label>&nbsp;
                            <input id="is-active-toggle" type="checkbox" asp-for="Is_Active" data-toggle="toggle" data-onstyle="success outline-dark" data-offstyle="secondary outline-dark" data-on="Active" data-off="Inactive" data-size="sm" data-style="fast" class="is-active-toggle" checked>
                            <div class="alert alert-info mt-1" role="alert">
                                <p class="bold">Switching the Organization to:</p>
                                <ul>
                                    <li><span class="bold" style="color: #28a745;">ACTIVE</span> will display the organization on the SkillBridge site</li>
                                    <li><span class="bold" style="color: #6c757d;">INACTIVE</span> will remove the organization from the SkillBridge site</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Name" class="form-control" data-toggle="tooltip" title="Name of Organization" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Organization_Url"></label>
                        <input asp-for="Organization_Url" class="form-control" data-toggle="tooltip" title="Organizations web site for their SkillBridge program" />
                        <span asp-validation-for="Organization_Url" class="text-danger"></span>
                    </div>
                    <!--<div class="form-group">
                    <label asp-for="Organization_Type"></label>
                    <input asp-for="Organization_Type" class="form-control" />
                    <span asp-validation-for="Organization_Type" class="text-danger"></span>
                </div>-->
                    <div class="form-group" id="org-type-select-container">
                        <label asp-for="Organization_Type">Organization Type</label><span class="req">&nbsp;*</span>
                        <!--<input type="hidden" asp-for="OrganizationId" />-->
                        <select id="org-type-dropdown" class="browser-default custom-select" asp-for="Organization_Type" size="1" style="width:100%;max-width:100%" data-toggle="tooltip" title="Which type of organization is this?">
                            <option value="0">Profit</option>
                            <option value="1">Non or Not for Profit</option>
                            <option value="2">County, Municipal, City</option>
                            <option value="3">State</option>
                            <option value="4">Federal</option>
                        </select>
                        <span asp-validation-for="Organization_Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notes"></label>
                        <textarea asp-for="Notes" class="form-control" data-toggle="tooltip" title="Internal notes on the organization, only for analysts/admins"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Poc_First_Name"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Poc_First_Name" class="form-control" data-toggle="tooltip" title="First name of Point of Contact" />
                        <span asp-validation-for="Poc_First_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Poc_Last_Name"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Poc_Last_Name" class="form-control" data-toggle="tooltip" title="Last name of Point of Contact" />
                        <span asp-validation-for="Poc_Last_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Poc_Email"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Poc_Email" class="form-control" data-toggle="tooltip" title="E-mail address of Point of Contact" />
                        <span asp-validation-for="Poc_Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Poc_Phone"></label><span class="req">&nbsp;*</span>
                        <input asp-for="Poc_Phone" class="form-control" data-toggle="tooltip" title="Phone number of Point of Contact" />
                        <span asp-validation-for="Poc_Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" id="create-org-check">
                <div class="col-md-6">
                    <div class="form-group form-inline">
                        <div class="form-check mr-3">
                            <label class="form-check-label">
                                <input id="parent-mou-checkbox" type="checkbox" class="form-check-input" asp-for="Is_MOU_Parent" data-toggle='collapse' data-target='#create-mou-container'>Is Parent Organization for MOU<span class="req">&nbsp;*</span>
                            </label>
                        </div>
                        <!--<label asp-for="Is_MOU_Parent"></label>
                <input asp-for="Is_MOU_Parent" class="form-control" />
                                    <span asp-validation-for="Is_MOU_Parent" class="text-danger"></span>-->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="mou-select-container">
                        <label asp-for="Mou_Id">Existing Parent Organization MOU<span class="req">&nbsp;*</span></label>
                        <!--<input type="hidden" asp-for="OrganizationId" />-->
                        <select id="mou-dropdown" class="browser-default custom-select" asp-for="Mou_Id" asp-items="@(new SelectList(Model.Mous,"Id","Organization_Name"))" size="1" style="width:100%;max-width:100%">
                            <option value="-1" selected>None</option>
                        </select>
                        <span asp-validation-for="Mou_Id" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="create-mou-container" class="collapse">
                <div class="row">
                    <div class="col">
                        <h2>Create a Parent-Level MOU</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="MouFile">MOU</label>
                            <div><input type="file" id="MouFile" name="MouFile" /></div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Service"></label>
                            <input asp-for="Service" class="form-control" />
                            <span asp-validation-for="Service" class="text-danger"></span>
                        </div>
                        <div class="form-group form-inline">
                            <div class="form-check mr-3">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="Is_OSD">This an OSD-Level MOU
                                </label>
                            </div>
                            <!--<label asp-for="Is_OSD"></label>
                    <input asp-for="Is_OSD" class="form-control" />-->
                            <span asp-validation-for="Is_OSD" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Creation_Date"></label>
                            <input asp-for="Creation_Date" class="form-control" />
                            <span asp-validation-for="Creation_Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Expiration_Date"></label>
                            <input asp-for="Expiration_Date" class="form-control" />
                            <span asp-validation-for="Expiration_Date" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Create Organization</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>   <!--INTERFERES WITH DATATABLES FOR SOME -->

    <script type="text/javascript">
        $(document).ready(function () {
            $(".custom-select").select2();

            $('#parent-mou-checkbox').change(function () {
                //alert("checkbox changed");
                $("#mou-dropdown").prop('disabled', true);

                var val = this.checked;

                if (val == true) {
                    $("#mou-dropdown").prop('disabled', true);
                    $("#mou-dropdown").val(-1).change();
                }
                else if (val == false) {
                    $("#mou-dropdown").prop('disabled', false);
                }
            });

            /*var $collapseGroup = $('#collapse-container');
            $collapseGroup.on('show.bs.collapse', '.collapse', function () {
                $collapseGroup.find('.collapse.in').collapse('hide');
            });*/

            // Bootstrap tooltips for select2
            $(".select2-container").tooltip({
                title: function () {
                    return $(this).prev().attr("data-original-title");
                },
                placement: "auto",
                animation: false
            });

            // Setup default dates
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            var today = now.getFullYear() + "-" + (month) + "-" + (day);

            $('input[type="date"]').val(today);

            // Enable field change detection for submitting updates
            changeDetectionEnabled = true;
            SetupChangeDetection();

            // Auto adjust Expiration Date when Creation Date of MOU is adjusted
            $("#Creation_Date").change(function(e) {
                var str = $("#Creation_Date").val();

                //'2022-10-14'

                var year = str.substr(0, 4);
                //console.log("year: " + year);
                var month = str.substr(5, 2);
                //console.log("month: " + month);
                var day = str.substr(8, 2);
                //console.log("day: " + day);
                var defaultYearDuration = 2;

                var expiryYear = parseInt(year) + defaultYearDuration;
                //console.log("expiryYear: " + expiryYear);

                var expiryDate = expiryYear.toString() + "-" + month + "-" + day;


                $("#Expiration_Date").val(expiryDate);


            });
        });
    </script>
}