@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Skillbridge.Business.Model.Db
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Update Submitted";
}

<div class="row">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            <div class="text-center">
                <h1 class="update-submitted-title">Your opportunity update has been submitted!</h1>
                <p>A SkillBridge analyst will review your update request as soon as possible, and once approved, will be updated on the SkillBridge public-facing site in the next update cycle.</p>
                <p>You will receive an email when the update has been approved or not accepted.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-center">
            <p class="bold">What do you want to do next?</p>
            <p>
                <!--<a class="btn btn-primary mb-3" asp-controller="MyPrograms" asp-action="EditProgram">My Program</a>-->
                <a asp-controller="Home" asp-action="Index">Home</a><text>&nbsp;&nbsp;&#124;&nbsp;</text>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Organization"))
                    {<a asp-controller="MyOrganization" asp-action="EditOrganization">My Organization</a><text>&nbsp;&nbsp;&#124;&nbsp;&nbsp;</text><a asp-controller="MyPrograms" asp-action="MyPrograms">My Programs</a>}
                if (User.IsInRole("Program"))
                {
                    <a asp-controller="MyPrograms" asp-action="EditProgram">My Program</a>
                }
            }
                <text>&nbsp;&#124;&nbsp;&nbsp;</text><a asp-controller="MyOpportunities" asp-action="MyOpportunities">My Opportunities</a>
            </p>
        </div>
    </div>
</div>

