@{
    ViewData["Title"] = "DELETE EVERYTHING";
}

<h1>DELETE</h1>

<div class="row">
    <div class="col">
        <h2>Delete Data</h2>
        <p>This will delete ALL</p>
        <ul>
            <!--<li>MOUs</li>-->
            <li>Organizations</li>
            <li>Programs</li>
            <li>Opportunities</li>
            <li>Opportunity Groups</li>
        </ul>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <button type="submit" class="btn btn-danger" asp-action="DeleteAllData">DELETE ALL</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
