@using Microsoft.AspNetCore.Identity;

@{
    ViewBag.Title = "Generate Update Data";
}

<h1>Generate Update Data</h1>

<div class="row">
    <div class="col">
        <a class="btn btn-primary mt-2" asp-action="DownloadOrgData">Download Organizations Data</a>
        <!--<a id="download-btn" class="btn btn-primary mt-2" asp-action="DownloadLocData" disabled>Download Locations Data</a>-->
        <a class="btn btn-primary mt-2" asp-action="DownloadSpouseData">Download Spouses Data</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-primary mt-2" asp-action="DownloadNewLocData">Download New Locations Data</a>
        <a class="btn btn-primary mt-2" asp-action="DownloadDropdownData">Download New Locations Dropdown Data</a>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col">
        <a id="update-prog-service-values-btn" class="btn btn-danger mt-2" asp-action="UpdateProgramServiceValues" disabled>Update Program Service Values</a>
        <a id="update-opp-service-values-btn" class="btn btn-danger mt-2" asp-action="UpdateOpportunityServiceValues" disabled>Update Opportunity Service Values</a>
    </div>
</div>
<!--<div class="row">
    <div class="col">
        <a class="btn btn-secondary mt-2" asp-action="DownloadOrganizationsCSV">Download Organizations CSV</a>
        <a class="btn btn-secondary mt-2" asp-action="DownloadLocationsCSV">Download Locations CSV</a>
        <a class="btn btn-secondary mt-2" asp-action="DownloadSpousesCSV">Download Spouses CSV</a>
    </div>
</div>-->


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#download-btn').click(function () {
                //DownloadZip();
            //});
        });
    </script>
}


