@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SkillBridge.Business.Model.Db
@model SkillBridge.Business.Model.Db.TrainingPlans.TrainingPlan
@{
    ViewBag.Title = "View Training Plan";
    var program = Model.ProgramTrainingPlans.FirstOrDefault()?.Program ?? new ProgramModel();

    var organizationName = String.Empty;

    if (program != null && program.Organization != null)
    {
        organizationName = program.Organization.Name;
    }
}

<h1>@Html.Raw(ViewBag.Title)</h1>

<div class="card mt-3">
    <div class="card-header"><h4 class="mb-0">@Html.Raw(organizationName)</h4></div>
    <div class="card-body p-3">
        @if (Model.ProgramTrainingPlans.Any())
        {
            <div class="h6">Associated Programs</div>
            @foreach (var prog in Model.ProgramTrainingPlans)
            {
                <div><a href="/programs/editprogram/@prog.ProgramId?edit=false" target="_blank">@Html.Raw(prog.Program.ProgramName)</a></div>
            }
        }
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_TrainingPlanView.cshtml", Model)

<div class="mb-3">
    <a class="btn btn-primary" data-toggle='tooltip' title="Return to Training Plans" asp-controller="TrainingPlans" asp-action="ListTrainingPlans" aria-label="Return to training plans">Return to Training Plans</a>
</div>


@section Scripts {
    <script type="text/javascript">
    </script>
}


