@{
    var errors = ViewData.ModelState.Values.SelectMany(o => o.Errors).ToList();
}
@if (errors != null && errors.Count > 0)
{
    <div class="alert alert-danger" role="alert">
        <div class="fw-bold">Message(s):</div>
        <ul>
        @foreach (var error in errors)
        {
            <li class="fw-bold">@Html.Raw(error.ErrorMessage)</li>
        }
        </ul>
    </div>
}
