@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>
    <div class="row">
        <div class="col">
            <h2>Generate Website Data</h2>
            <a class="btn btn-primary mb-3" asp-controller="Admin" asp-action="GenerateOrgData">Generate Organization Data</a>
            <a class="btn btn-primary mb-3" asp-controller="Admin" asp-action="GenerateLocData">Generate Locations Data</a>
        </div>
        <div class="col">
            <h2>Roles</h2>
            <a class="btn btn-primary mb-3" asp-controller="Admin" asp-action="ListRoles">List Roles</a>
            <a class="btn btn-primary mb-3" asp-controller="Admin" asp-action="CreateRole">Add New Role</a>
        </div>        
    </div>
</div>
