@{
    ViewData["Title"] = "Ingest Opportunities";
}

<h1>Ingest Opportunities</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-danger" asp-route-source="OppIngestTest14">Ingest</button>&nbsp;
            <!--<button class="btn btn-danger" asp-action="AddStates">Add States</button>&nbsp;-->
            <button class="btn btn-danger" asp-action="RectifyRecords">Rectify Active Records</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
