@{
    ViewData["Title"] = "Ingest Organizations";
}

<h1>Ingest Organizations</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-danger" asp-route-source="OrgIngestTest14">Ingest</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
