@{
ViewData["Title"] = "User Guide";
}
<html lang="en">
   <body>
      <div class="UserGuide container-fluid">
         <div class="containter-fluid">
            <h1 class="text-center">SkillBridge Partner CMS User Guide</h1>
         </div>
         <br/>
         <div class="container-fluid">
            <div class="card px-5 py-3">
               <h2 class="card-title mt-3">CMS Log-in Screen</h2>
               <div class="row">
                <div class="col-sm-12 pb-2">
               <p class="card-text "> Enter your provided credentials to get started.</p>
               </div>
               <div class="col-sm-12">
               <img class="img-fluid mb-3 mx-auto" style="width:98%;" src="~/images/loginScreen.jpg"alt="Card image"/>
           </div>
            </div>
            </div>
         </div>
         <div class="container-fluid py-2">
            <div class="card px-5">
               <h2 class="card-title mt-3">Hierarchical Structure</h2>
               <div class="row">
                 <div class="col-sm-12 d-flex justify-content-center mb-3"><img class="img-fluid" src="~/images/relationshipChart.jpg"alt="Card image"/></div>
                 <div class="col-sm-12">
                   <p class="card-text ">It's important to first understand the relationship between Organizations, Programs, and Opportunities before getting started.</p>
                   <p class="card-text  mb-5">ABC Corporation may offer 2 different programs.  Each of those 2 programs may be offered at different locations.  The locations where the program is offered will be referred to as Opportunities.</p>
                 </div>
               </div>
            </div>
         </div>
         <div class="container-fluid py-5">
              <div class="card px-5">
                 <h2 class="card-title  mt-3">CMS Landing Page</h2>
                 <p class="card-text ">This is the hub to manage your organization's SkillBridge content.</p>
                 <img class="img-fluid mb-3   " style="max-width:90%;" src="~/images/cmsLandingPageForPartners.jpg"alt="Card image"/>
                 <div class="row">
                   <div class="col-sm-12">
                     <h6 class="card-title ">My Organization</h6>
                     <p class="card-text ">This is where you can maintain your organizational contact information and update the organization's website.</p>
                     <h6 class="card-title ">My Programs</h6>
                     <p class="card-text ">This is where you can maintain your organization's programmatic information, such as how your program is delivered, the duration of the training program, and additional details about the program you will be offering.<br/>Changes made to how your organization offers its programs will need to be reviewed and approved by OSD prior to those edits being published.</p>
                     <h6 class="card-title ">My Opportunities</h6>
                     <p class="card-text ">This is where you can maintain your opportunities and make edits to where you want to offer your approved programs.</p>
                   </div>
                 </div>
                    <div class="row">
                      <div class="col-sm-12 col-xl-6 mt-2 py-4">
                         <h6 class="card-title ">Create Program</h6>
                         <p class="card-text ">This area of the CMS is used for proposing new training programs to your organization’s existing offerings. Program additions will need to include detailed training plan information to be considered and approved by OSD before the new programs will be published to the SkillBridge website. </p>
                         <h6 class="card-title ">Create Opportunity</h6>
                         <p class="card-text ">This area of the CMS is used for proposing new opportunities (locations) for your previously approved programs. There should not be any programmatic changes to what the organization is offering in the new opportunity. If programmatic changes are present, then the organization will need to enter a program change to be considered.</p>
                      </div>
                      <div class="col-sm-12 col-xl-6 mt-2 py-4">
                         <img class="img-fluid mb-3 mx-auto small-image"  src="~/images/creatingProgsAndOppsForPartners.jpg"alt="Card image"/>
                      </div>
                    </div>
                    <div>
                    </div>

              </div>

         </div>
         <div class="container-fluid">
            <div class="card px-5">
               <h2 class="card-title  mt-3">Creating a New Program</h2>
               <p class="card-text ">CMS users can toggle their programs on and off with a simple switch, making them Active or Inactive.</p>
               <p class="card-text ">To do this, first click the green Edit button in the top right corner of the screen.</p>
               <img class="img-fluid mb-3" style="max-width:90%;" src="~/images/editProgramButtonZommedOut.jpg"alt="Card image"/>
               <p class="card-text ">Make your edits/adjustments to the appropriate fields.</p>
               <img class="img-fluid mb-3" style="max-width:90%;" src="~/images/createProgramFields.jpg"alt="Card image"/>
               <p class="card-text ">Again, remember to scroll to the bottom of the screen to click the Update button after making your changes.</p>
               <div class="row"><div class="col-sm-12"><img class="mb-3 " style="max-width:10%;" src="~/images/createProgramButton.jpg"/></div></div>
            </div>
         </div>
        <div class="container-fluid">
            <div class="card px-5">
               <h2 class="card-title  mt-3">Switching a Program between Active / Inactive Status</h2>
               <p class="card-text ">To create a new program, click the Create Program tab on the left side of the screen.</p>
               <img class="img-fluid mb-3   " style="max-width:90%;" src="~/images/activeToggleForPartners.jpg"alt="Card image"/>
               <p class="card-text ">Complete all the fields on the screen.</p>
               <img class="img-fluid mb-3   " style="max-width:90%;" src="~/images/createProgramFields.jpg"alt="Card image"/>
               <p class="card-text ">Lastly, scroll down to the bottom of your screen and click the blue Create Program button.</p>
               <div class="row"><div class="col-sm-12"><img class="mb-3 " style="max-width:10%;" src="~/images/createProgramButton.jpg"/></div></div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="card px-5">
               <h2 class="card-title  mt-3">Creating a New Opportunity</h2>
               <p class="card-text ">To create a new Opportunity, click the Create Opportunity tab on the left side of the screen.</p>
               <img class="img-fluid mb-3   " style="max-width:90%;" src="~/images/creatingANewOpportunity.jpg"alt="Card image"/>
               <p class="card-text ">Complete all the fields on the screen.</p>
               <img class="img-fluid mb-3   " style="max-width:90%;" src="~/images/createOpportunityFields.jpg"alt="Card image"/>
               <p class="card-text ">Again, remember to scroll to the bottom of the screen to click the Create Opportunity button after making your changes.</p>
               <img class="mb-3 " style="max-width:70%;" src="~/images/createOpportunityButton.jpg"/>
            </div>
         </div>
         <div class="container-fluid">
            <div class="card px-5">
               <h2 class="card-title  mt-3">Edit an Existing Opportunity</h2>
               <p class="card-text ">Click on the My Opportunities tab on the left side of the screen.</p>
               <img class="img-fluid mb-3   " style="max-width:70%;" src="~/images/myOpportunties.jpg"alt="Card image"/>
               <p class="card-text ">You should now see a list of your existing opportunities:</p>
               @* <img class="img-fluid mb-3   opportunities "  src="~/images/createOpportunityFields.jpg"alt="Card image"/> *@
               @* <p class="card-text ">Again, remember to scroll to the bottom of the screen to click the Create Opportunity button after making your changes.</p> *@
               <img class="mb-3 opportunities"  src="~/images/myOpportunitiesTable.jpg"/>
               <div class="row">
                  <div class="col-sm-12 col-xl-6 mt-2">
                     <p class="card-text ">Find the opportunity that you want to edit, and then click the Edit icon.</p>
                     <p class="card-text ">Each time you click the Edit icon, you will receive the following message pop-up in the middle of your screen. </p>
                     <p class="card-text ">To proceed, please review the rules presented in the popup and click the blue “I Understand” button.</p>
                  </div>
                  <div class="col-sm-12 col-xl-6 mt-2">
                     <img class="img-fluid mb-3 mx-auto" style="max-width:90%;" src="~/images/pleaseObserveWarningBox.jpg"alt="Card image"/>
                  </div>
                  <div>
                  </div>
               </div>
               <p class="card-text  mt-5">Make your edits/adjustments to the appropriate fields. These steps should also be followed when making any edits to existing programs or opportunities.</p>
               <img class="img-fluid mb-3   opportunities" src="~/images/zoomedOutClipOfTheUpdateButton.jpg"alt="Card image"/>
            </div>
         </div>
      </div>
      </div>
   </body>
</html>