@model IntakeForm.Models.Data.Templates.DeserializedFormTemplate
@{
    ViewData["Title"] = "Submit the Application";

    var entry = (IntakeForm.Models.Data.Forms.Entry)ViewBag.Entry;
    var entryForms = entry.Forms.OrderBy(o => o.FormOrder).ToList();
    var formTemplates = (List<IntakeForm.Models.Data.Templates.DeserializedFormTemplate>)ViewBag.FormTemplates;
    var responses = (List<IntakeForm.Models.Data.Forms.FormResponse>)ViewBag.ProgressBar;

    var isReadyForSubmission = true;
}

@await Html.PartialAsync("~/Areas/Intake/Views/Shared/_Entry.cshtml")

<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("~/Areas/Intake/Views/Form/_ProgressBar.cshtml")
    </div>
    <div class="col-md-9">

        <div class="mt-3">
            <h2 class="h6">@Html.Raw(ViewData["Title"])</h2>

            @await Html.PartialAsync("~/Areas/Intake/Views/Shared/_Messages.cshtml")

            @await Html.PartialAsync("~/Areas/Intake/Views/Shared/_Errors.cshtml")

            @await Html.PartialAsync("~/Areas/Intake/Views/Form/_Review.cshtml")

            @if (isReadyForSubmission)
            {
                @using (Html.BeginForm("Submit", "Form", FormMethod.Post, new { area = "Intake", id = "submit-form", @enctype = "multipart/form-data" }))
                {
                    <input type="hidden" id="Id" name="Id" value="@(entry.ID)" />
                    <button type="submit" class="btn btn-success mb-3">Submit</button>
                    @Html.AntiForgeryToken()
                }
            }
        </div>
    </div>
</div>
