@{
    ViewData["Title"] = "Legal and Administrative";
}
<h1>Legal and Administrative</h1>

<div class="show-hide-subpanels-area"><a href="javascript:;" onclick="ShowAllSubPanels('legal-and-admin');">Show All</a> / <a href="javascript:;" onclick="HideAllSubPanels('legal-and-admin');">Hide All</a></div>

<div id="legal-and-admin">
    <div class="card mb-4 box-shadow expandable">
        <h2 class="card-header">
            <a data-toggle="collapse" href="#terms" aria-expanded="false" aria-controls="terms" id="terms-heading" class="d-block collapsible-card collapsed">
                <i class="fa fa-plus pull-left"></i>&nbsp;Terms of Use
            </a>
        </h2>
        <div id="terms" class="collapse" aria-labelledby="terms-heading" style="">
            <div class="card-body">
                <p>This is a DOD interest computer system. All DOD interest computer systems and related equipment are intended for the communication, transmission, processing, and storage of official U.S. Government or other authorized information only.</p>

                <p>All DOD interest computer systems are subject to monitoring at all times to ensure proper functioning of equipment and systems including security devices and systems, to prevent unauthorized use and violations of statutes and security regulations, to deter criminal activity, and for other similar purposes. Any user of a DOD interest computer system should be aware that any information placed in the system is subject to monitoring and is not subject to any expectation of privacy.</p>

                <p>If monitoring of this or any other DOD interest computer system reveals possible evidence of violation of criminal statutes, this evidence and any other related information, including identification information about the user, may be provided to law enforcement officials. If monitoring of this or any other DOD interest computer systems reveals violations of security regulations or unauthorized use, employees who violate security regulations or make unauthorized use of DOD interest computer systems are subject to appropriate disciplinary action.</p>

                <p>Use of this or any other DOD interest computer system constitutes consent to monitoring at all times.</p>
            </div>
        </div>
    </div>

    <div class="card mb-4 box-shadow expandable">
        <h2 class="card-header">
            <a data-toggle="collapse" href="#disclaimer" aria-expanded="false" aria-controls="disclaimer" id="disclaimer-heading" class="d-block collapsible-card collapsed">
                <i class="fa fa-plus pull-left"></i>&nbsp;Disclaimer
            </a>
        </h2>
        <div id="disclaimer" class="collapse" aria-labelledby="disclaimer-heading" style="">
            <div class="card-body">
                <p>The appearance of hyperlinks does not constitute endorsement by the U.S. Department of Defense (DOD) of non-U.S. Government sites or the information, products, or services contained therein. Although the U.S. DOD may or may not use these sites as additional distribution channels for Department of Defense information, it does not exercise editorial control over all of the information that you may find at these locations. Such links are provided consistent with the stated purpose of this website.</p>

                <p>The SkillBridge Content Management System (CMS) contains many links to websites topically related to training and educational opportunities. Except for those links designated as U.S. DOD sites, clicking the links may take you to a non-DOD/government website. Their inclusion on SkillBridge in no way implies an endorsement of the site.</p>
            </div>
        </div>
    </div>

    <div class="card mb-4 box-shadow expandable">
        <h2 class="card-header">
            <a data-toggle="collapse" href="#accessibility" aria-expanded="false" aria-controls="accessibility" id="accessibility-heading" class="d-block collapsible-card collapsed">
                <i class="fa fa-plus pull-left"></i>&nbsp;Accessibility/Section 508 Statement
            </a>
        </h2>
        <div id="accessibility" class="collapse" aria-labelledby="accessibility-heading" style="">
            <div class="card-body">
                <p>The U.S. Department of Defense is committed to making its electronic and information technologies accessible to individuals with disabilities in accordance with <a href="https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-section-508-standards" target="_blank" title="Section 508 of the Rehabilitation Act">Section 508 of the Rehabilitation Act</a> (29 U.S.C. § 794d), as amended in 1999. Send feedback or concerns related to the accessibility of this website to: <a href="mailto:DoDSection508@osd.mil" target="_blank" title="DoDSection508@osd.mil">DoDSection508@osd.mil</a>. For more information about Section 508, please visit the <a href="https://www.section508.gov/" target="_blank" title="Section 508">Section 508</a> web site.</p>
                <h3>Internet Browsers</h3>
                <p>The SkillBridge Content Management System (CMS) is optimized for Firefox and Chrome. If you are having difficulty viewing this site, you may wish to download the most recent browser version. For the best Internet experience, we recommend using the most recent browser versions.</p>

                <p>You can download the browsers for free using the links below.</p>

                <p><a href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads" target="_blank" title="Download Internet Explorer">Download Internet Explorer</a></p>

                <p><a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" title="Download Firefox">Download Firefox</a></p>

                <p><a href="https://www.google.com/intl/en-US/chrome/" target="_blank" title="Download Chrome">Download Chrome</a></p>
            </div>
        </div>
    </div>

    <div class="card mb-4 box-shadow expandable">
        <h2 class="card-header">
            <a data-toggle="collapse" href="#inclusion" aria-expanded="false" aria-controls="inclusion" id="inclusion-heading" class="d-block collapsible-card collapsed">
                <i class="fa fa-plus pull-left"></i>&nbsp;Diversity, Equity, and inclusion and Anti-Extremism
            </a>
        </h2>
        <div id="inclusion" class="collapse" aria-labelledby="inclusion-heading" style="">
            <div class="card-body">
                <p>"The Department of Defense places the highest importance on treating all personnel with dignity and respect, in an inclusive environment, free from impermissible discrimination, harassment, and hate." — Office of the Secretary of Defense</p>

                <p>Reference: <a href="https://media.defense.gov/2021/Feb/26/2002589872/-1/-1/1/LEADERSHIP-STAND-DOWN-FRAMEWORK.PDF" target="_blank" title="Leadership Stand-Down to Address Extremism in the Force">Leadership Stand-Down to Address Extremism in the Force</a></p>

                <h3>Diversity, Equity and Inclusion</h3>

                <p>
                    "The changing face of the Nation demands that we change. As the demographic make-up of the American population continues to evolve, it is imperative that the Department of Defense focus its efforts on emerging talent to ensure that we successfully attract, recruit, develop and retain a highly-skilled Total-Force capability of meeting current and future mission requirements." – Office for Diversity, Equity, and Inclusion
                </p>

                <p>
                    Reference: <a href="https://diversity.defense.gov/" target="_blank" title="Office for Diversity, Equity and Inclusion">Office for Diversity, Equity and Inclusion</a>
                </p>

                    <h3>Anti-Extremism</h3>

                    <p>"The DOD has a compelling interest in preventing the advent and spread of hate groups and activities within the Department; in guarding against illegal discrimination; in fostering a military that is politically-neutral and disciplined; and in recruiting and sustaining an all-volunteer force of sufficient strength and quality to provide for the Nation’s security and to sustain that security over time." – Office of the Secretary of Defense</p>

                <p>Reference: <a href="https://media.defense.gov/2021/Feb/26/2002589872/-1/-1/1/LEADERSHIP-STAND-DOWN-FRAMEWORK.PDF" target="_blank" title="Leadership Stand-Down to Address Extremism in the Force">Leadership Stand-Down to Address Extremism in the Force</a></p>

            </div>
        </div>
    </div>

    <div class="card mb-4 box-shadow expandable">
        <h2 class="card-header">
            <a data-toggle="collapse" href="#privacy" aria-expanded="false" aria-controls="privacy" id="privacy-heading" class="d-block collapsible-card collapsed">
                <i class="fa fa-plus pull-left"></i>&nbsp;Privacy Policy
            </a>
        </h2>
        <div id="privacy" class="collapse" aria-labelledby="privacy-heading" style="">
            <div class="card-body">
                <ol>
                    <li>The SkillBridge Content Management System (CMS) is provided as a public service by the U.S. Department of Defense.</li>

                    <li>Information presented on this service not identified as protected by copyright is considered public information and may be distributed or copied. Use of appropriate byline, photo, and image credits is requested.</li>

                    <li>For site management, information is collected for statistical purposes. Please refer to the section below for a description of the information collected and for opt-out instructions. This U.S. Government computer system uses software programs to create summary statistics, which are used for such purposes as assessing what information is of most and least interest, determining technical design specifications, and identifying system performance or problem areas.</li>

                    <li>For site security purposes and to ensure that this service remains available to all users, software programs are employed to monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage.</li>

                    <li>Except for authorized law enforcement investigations and national security purposes, no other attempts are made to identify individual users or their usage habits beyond DOD websites. Raw data logs are used for no other purposes and are scheduled for regular destruction in accordance with National Archives and Records Administration Guidelines. All data collection activities are in strict accordance with DOD Directive 5240.01.</li>

                    <li>Web measurement and customization technologies (WMCT) may be used on this site to remember your online interactions, to conduct measurement and analysis of usage, or to customize your experience. The Department of Defense does not use the information associated with WMCT to track individual user activity on the Internet outside of Defense Department websites, nor does it share the data obtained through such technologies, without your explicit consent, with other departments or agencies. The Department of Defense does not keep a database of information obtained from the use of WMCT.</li>

                    <li>Unauthorized attempts to upload information or change information on this site are strictly prohibited and may be punishable under the Computer Fraud and Abuse Act of 1987 and the National Information Infrastructure Protection Act (18 U.S.C. § 1030).</li>

                </ol>

                <h3>Information Collected by the SkillBridge CMS</h3>

                <p>The SkillBridge Content Management System (CMS)  uses Google Analytics, provided by Google, Inc., to collect information about website usage. No information is collected that could be used to personally identify you or any individual site user. The use of services like Google Analytics is specifically authorized by the Department of Defense within the parameters of its usage guidelines, updated in 2012.</p>

                <p>Google Analytics uses "cookies"—text files placed on your computer—to help analyze how users use this site. The information generated by the cookie about use of the website will be transmitted to and stored by Google on servers in the United States. Google compiles this data on site usage and uses it to create summary reports of website activity. Among the items that Google Analytics tracks, SkillBridge CMS looks at:</p>

                <ul>
                    <li>Number of visitors to the site</li>

                    <li>Types of browsers, operating systems and devices used to access the site</li>

                    <li>Most popular pages</li>

                    <li>Click trails through the site at large (the path a user took through the site)</li>

                    <li>Search terms that lead users to the SkillBridge CMS</li>
                </ul>

                <p>SkillBridge CMS site administrators and managers access these data and reports, which they use it to make decisions on existing site functionality, to assess popular pages and features, to inform future design enhancements, and to make the site more user-friendly for the long term.</p>

                <h3>Opt-Out Instructions</h3>

                <p>No information is collected that could be used to personally identify any individual website visitors. However, if at any time you would like to opt-out of Google Analytics tracking, you can do so by clicking the link below and following the instructions for your browser:</p>

                <p><a href="https://tools.google.com/dlpage/gaoptout" target="_blank" title="Google Analytics Opt-Out Instructions and Browser Add-On">Google Analytics Opt-Out Instructions and Browser Add-On</a></p>

                <p>Be aware that opting out in this manner will remove you from being tracked by Google Analytics anywhere you go on the web.</p>

                <p>Thank you for using the SkillBridge CMS!</p>

                <h3>Privacy Advisory</h3>

                <p>We will not obtain personally identifying information about you when you visit our site unless you choose to provide such information to us. If you choose to contact the Public Affairs Officer, send email to the site webmaster or submit an online feedback form, any contact information that you provide will be solely used to respond to your request and will not be stored for other purposes.</p>
            </div>
        </div>
    </div>
</div>
















 