@{
    ViewData["Title"] = "SkillBridge Logo";
}

<h1>SkillBridge Logo</h1>

<div class="p-3">
    You are permitted to use the SkillBridge logo, as you are an established partner. However, it's important to follow the guidelines regarding the use of the DOD SkillBridge Program name and logo.
</div>

<div class="p-3">
    The DOD SkillBridge Program name and logo are to be used only by approved SkillBridge partners in conjunction with DOD authorized SkillBridge partner programs. Approved use includes partners informing audiences of their participation in the program on websites used to support SkillBridge participants. A disclaimer to avoid the appearance of DOD endorsement of the partner’s products or services should be used when practical. All other proposed uses must be approved by the DOD SkillBridge Program management. The DOD SkillBridge Program name or logo may not be used for commercial use, such as for-profit activities or advertisement of the business, services, or products of partners.
</div>

<div class="p-3">
    <img src="~/images/vert_DODSkillBridge_color.png" alt="SkillBridge logo" width="100%" />
</div>

<div class="p-3">
    DISCLAIMER OF ENDORSEMENT: The information provided in this [story / page / link / mailing] is for informational purposes only and neither constitutes nor implies any endorsement, recommendation, or favoring of any entity, product, service, or organization by the Department of Defense SkillBridge program or any part of the Department of Defense.
</div>
 